html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif;
  font-size: 0.8em;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}
#search-form {
	position: absolute;
	top:17px;
	left:100px;
}
input[type=text] {
  outline:none;
  width: 245px;
  height:20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6em;
  padding: 5px;
  border: 1px solid #D6D6D6;
  color: #A9A9A9;
}
input[type=text]:focus {
  outline:none;
  width: 245px;
  height:20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6em;
  padding: 5px;
  border: 1px solid #0099CC;
  color: #A9A9A9;
}
