#logo-image {
position: absolute;
top:2px;
left:4px;
}

@media only screen and (max-width: 835px){
#search-form {
  left: 565px;
}
#directions {
  position: absolute;
  top: 4px;
  left: 0px;
}
}
  
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif;
  font-size: 0.8em;
  background-color: #FFF;
}

#map_canvas {
  height: 100%;
  min-height: 600px;
}

@media print {
  html, body {
    height: auto;
  }
}

#directions {
  position: relative;
  top: 63px;
  width:268px;
  z-index: 555;
  font-family: 'Rambla', sans-serif;
  font-size: 1.0em;
  color: #FFF;

  z-index: 2;
  background-color: #003366;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
}

#search-form {
	position: absolute;
	top: 5px;
	right: 4px;
  width:267px;
	z-index: 556;
}
#search-sidebar {
	position: absolute;
	top: 47px;
	left:4px;
	width:300px;
	z-index:559;
}
#searchobject{
	width:287px;
  margin-bottom: 6px;
}

input[type=text] {
  outline:none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6em;
  color: #A9A9A9;
  padding:1px 3px 1px 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  border: 4px solid #ca5151;
  border-color: #ca5151;
}

input[type=text]:focus {
  border: 4px solid #4d7094;
  border-color: #4d7094;
}

/*#left-filter-right {
  position: absolute;
  top: 4px;
  left:146px;
  z-index:560;
}*/

h2 {
 float:left;
 margin-top: 8px;
 margin-left:4px;
 font-family: 'Rambla', sans-serif;
 font-size: 1.5em;
 color: #FFF;
}
hr{
	color: #FFF;
	z-index: 601;
	margin-left:6px;
	margin-right:8px;
}
#searchresults {
  position: relative;
  width: 300px;
  height: 60px;
	z-index: 500;
}
#searchresult-bg {
	position: relative;
	width:300px;
	height:60px;
  margin-bottom: -6px;
  z-index: 200;
  background-color: #003366;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

#directionsPanel {
  position: absolute;
  top: 9px;
	width:268px;
  background-color: #003366;
    -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

#addresstextbox {
  float: right;
	width: 253px;
}

#mode {
	float: left;
	margin-top: 5px;
	margin-left:2px;
	font-size: 1.198em;
}

#sort-radios {
	float: right;
  margin-top: 3px;
	font-size: 0.75em !important;
	font-family: 'Rambla', sans-serif;
	font-size: 0.9em;
	color: #FFF;
}

#search-title {
	position: relative;
  float: left;
	top: -48px;
	margin: 4px;
	font-family: 'Rambla', sans-serif;
	font-size: 1.4em;
	color: #FFF;
	z-index: 505;
}

#search-info {
position: relative;
top:5px;
z-index: 506;
}

#search-submit {
	position: inherit;
	right: 3px;
	top: 7px;
	width: 26px !important;
	height: 21px;
}

#filter-options-button{
  position: inherit;
  right: 30px;
  top: 7px;
  width: 26px;
  height: 21px;
}

#travelmode {
  float: right;
  margin-bottom: 6px;
}

#filteroptions-bg {
  position: inherit;

  top: -5px;
  left: -6px;
  width: 280px;
  height: 82px;
  
  background-color: #fff;
  opacity:0.9;
  filter:alpha(opacity=90); /* For IE8 and earlier */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  z-index: -20;
}
#filteroptions {
  position: absolute;
  float: right;
  top: 85px;
  left: 28px;
  z-index: 710;
}

/*marker css */
#marker-restaurant-name {
  font-family: 'Rambla', sans-serif;
  font-size: 2.0em;
}

#marker-name-subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-left: 5px;
}

#marker-phonewebsite {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

/* direction css */
.adp-placemark {
  background-color: #003366;
  color: #FFF;
  min-width: 258px;
}
.adp-warnbox, .warnbox-content {
  background-color: #003366;
  color: #FFF;
}
.warnbox-c1, .warnbox-c2 {
  background-color: #003366;
}
.adp-legal {
  color: #FFF;
}
#low-price, #high-price {
  z-index: 711;
  float: right;
}
#ui-id-1, #ui-id-2, .ui-autocomplete {
  z-index: 999;
}