#logo-image {
position: absolute;
top:2px;
left:4px;
}

@media only screen and (max-width: 750px){
   #search-sidebar-bg {
   	height: 300px !important;
   	position: relative;
   	margin-top:3px;
	left: 4px;
	}
	#search-sidebar {
	margin-top:243px;
	left: 4px;
	}
}
  
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Rambla', sans-serif;
  font-size: 0.8em;
  background-color: #FFF;
}

#map_canvas {
  height: 100%;
  min-height: 600px;
}

@media print {
  html, body {
    height: auto;
  }
}



#filters {

}


#directions {
  position: absolute;
  top:133px;
  right:4px;
  width:267px;
  z-index: 555;
  font-family: 'Rambla', sans-serif;
  font-size: 1.0em;
  color: #FFF;

  z-index: 2;
  background-color: #000;
  opacity:0.6;
  filter:alpha(opacity=60); /* For IE8 and earlier */

  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

#search-form {
	position: absolute;
	top: 4px;
	left: 320px;
	z-index: 556;
}
#search-sidebar {
	position: absolute;
	top: 51px;
	left:4px;
	width:297px;
	z-index:559;
}
#searchobject{
	width:292px;
  margin-bottom: 6px;
}



input[type=text] {
  outline:none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.6em;
  border-radius:0px;
  color: #A9A9A9;
  padding:1px 3px 1px 3px;
  border: 1px solid #FFF;
  border-color: #FFF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

input[type=text]:focus {
  border: 1px solid #00688B;
  border-color: #00688B;
}

/*#left-filter-right {
  position: absolute;
  top: 4px;
  left:146px;
  z-index:560;
}*/
h2 {
 float:left;
 margin-top: 8px;
 margin-left:4px;
 font-family: 'Rambla', sans-serif;
 font-size: 1.5em;
 color: #FFF;
}
hr{
	color: #FFF;
	z-index: 601;
	margin-left:6px;
	margin-right:8px;
}
#searchresults {
  position: relative;
  width: 300px;
  height: 60px;
	z-index: 500;
}
#searchresult-bg {
	position: relative;
	width:300px;
	height:60px;
  margin-bottom: -11px;
  z-index: 200;
  background-color: #003366;
  opacity:0.7;
  filter:alpha(opacity=70); /* For IE8 and earlier */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

#directionsPanel {
  margin-left: 4px;
	width:258px;
}

#addresstextbox {
	width: 189px;
}



#mode {
	float: left;
	margin-top: 5px;
	margin-left:2px;
	font-size: 1.198em;
}

#sort-radios {
	float: right;
	font-size: 0.75em !important;
	font-family: 'Rambla', sans-serif;
	font-size: 0.9em;
	color: #FFF;
}

#search-title {
	position: relative;
	top: -48px;
	margin: 4px;
	font-family: 'Rambla', sans-serif;
	font-size: 1.4em;
	color: #FFF;
	z-index: 505;
}
#search-submit {
	position: inherit;
	right: -2px;
	top: 4px;
	width: 26px !important;
	height: 21px;
}
#filter-options-button{
  position: inherit;
  right: 25px;
  top: 4px;
  width: 26px;
  height: 21px;
}

#travelmode {
  float: right;
  
}
#filteroptions {
  position: inherit;
  top:33px;
}


/*marker css */
#marker-restaurant-name {
  font-family: 'Rambla', sans-serif;
  font-size: 2.0em;
}

#marker-name-subtitle {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-left: 5px;
}

#marker-phonewebsite {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.3em;
}

.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

/* direction css */
.adp-placemark {
  background-color: #000;
  color: #FFF;
}
.adp-warnbox, .warnbox-content {
  background-color: #000;
  color: #FFF;
}
.warnbox-c1, .warnbox-c2 {
  background-color: #76000D;
}